@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Games Database (GamesDB)</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Track games you've played</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum quam orci, in ultricies ligula rhoncus sit amet. 
            Aliquam sit amet suscipit arcu. Donec viverra tellus non dui euismod pharetra et ac tellus. Nulla feugiat sem et tellus 
            laoreet eleifend. Sed ultricies nibh vel lacus sagittis placerat. Morbi mattis fringilla dictum. Nam turpis odio, viverra 
            nec mattis non, cursus ac augue. Aliquam sagittis faucibus nisl, ut cursus massa facilisis ac. In suscipit scelerisque leo, 
            sodales eleifend ipsum interdum in. Sed sodales ut sem ac auctor. Sed scelerisque rutrum ante, eu aliquet lacus fermentum nec. 
            Nullam blandit odio id dui feugiat, aliquet rutrum sem condimentum. In faucibus, arcu at aliquam tincidunt, quam sem ullamcorper 
            massa, at mattis turpis enim in dui. Aliquam eget augue purus. Integer ornare non lacus vitae eleifend. Fusce dapibus facilisis 
            orci sit amet sollicitudin.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Another column that should probably have text</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum quam orci, in ultricies ligula rhoncus sit amet.
            Aliquam sit amet suscipit arcu. Donec viverra tellus non dui euismod pharetra et ac tellus. Nulla feugiat sem et tellus
            laoreet eleifend. Sed ultricies nibh vel lacus sagittis placerat. Morbi mattis fringilla dictum. Nam turpis odio, viverra
            nec mattis non, cursus ac augue. Aliquam sagittis faucibus nisl, ut cursus massa facilisis ac. In suscipit scelerisque leo,
            sodales eleifend ipsum interdum in. Sed sodales ut sem ac auctor. Sed scelerisque rutrum ante, eu aliquet lacus fermentum nec.
            Nullam blandit odio id dui feugiat, aliquet rutrum sem condimentum. In faucibus, arcu at aliquam tincidunt, quam sem ullamcorper
            massa, at mattis turpis enim in dui. Aliquam eget augue purus. Integer ornare non lacus vitae eleifend. Fusce dapibus facilisis
            orci sit amet sollicitudin.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reference Material</h2>
        <p>
            Beyond the boilerplate, much of the code/design of this web application was adapted from Microsoft's ASP.NET Core MVC tutorial, which was massively helpful
            in teaching me new some new features, functionality, and quirks of ASP.NET Core 1.0.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro">See the tutorial &raquo;</a></p>
    </div>
</div>